In [34]:
#problem-01:Find the area of a circle. Input should be taken with float(input()).
#Using define function
def area_of_circle(r):
    pi = 3.1416
    return pi*r*r

radius = float(input("Please enter the value of radius:"))
area = area_of_circle(radius)

print("Area: ", area)

Please enter the value of radius:6
Area:  113.0976

In [28]:
#Using built in function
import math
r = float(input("Please enter the radius: "))
area  = math.pi*r*r
print("Area: ",area)

Please enter the radius: 6
Area:  113.09733552923255

In [29]:
#Using normal procedure
r = float(input("Please enter the radius: "))
pi = 3.1416
area  = pi*r*r
print("Area",area)

Please enter the radius: 8
Area 201.0624

In [30]:
## Area of rectangle
def area_of_rectangle(w, h):
    return w*h

width = float(input("Please provide Width: "))
height = float(input("Please provide Height: "))
area = area_of_rectangle(width, height)

print("Area: ", area)

Please provide Width: 50
Please provide Height: 60
Area:  3000.0

In [31]:
#problem-02:Write a function to get the largest number between 3. Apply that function to show an example.
#Without input
def largest(a,b,c):
    if a>b:
        if a>c:
            return a
        else:
            return c
    else:
        if b>c:
            return b
        else:
            return c
largest_num = (largest(5,6,7))
print("The largest number is: ",largest_num)

The largest number is:  7

In [32]:
#with input
a = int(input("Please enter the value of a: "))
b = int(input("Please enter the value of b: "))
c = int(input("Please enter the value of c: "))
if a>b and a>c:
    largest = a
elif b>a and b>c:
    largest = b
else:
    largest = c
print("The largest number is:",largest)

Please enter the value of a: 6
Please enter the value of b: 9
Please enter the value of c: 5
The largest number is: 9

In [35]:
#with define function
def largest(a,b,c):
    if a>b and a>c:
        largest = a
    elif b>a and b>c:
        largest = b
    else:
        largest =  c

    return largest

a = int(input("Please enter the value of a: "))
b = int(input("Please enter the value of b: "))
c = int(input("Please enter the value of c: "))

largest_number = largest(a,b,c)

print("The largest number is: ",largest_number)

Please enter the value of a: 6
Please enter the value of b: 4
Please enter the value of c: 2
The largest number is:  6

In [38]:
#problem-03:Write a function to convert the vowels of a string into 1 and consonants into 0. For example: If the input is "abcde", the output will be "10001".
#Using define function
def convert(vowels):
    a = " "
    for chr in vowels:
        if chr=="a" or chr=="e" or chr=="i" or chr=="o" or chr=="u":
            a+="1"
        else:
            a+="0"
    return a
str = input("Please enter any character: ")
converted = convert(str)
print("The result is:",converted)

Please enter any character: abcde
The result is:  10001

In [44]:
#without define function
r =input("Please enter any character: ")
r1 = " "
for chr in r:
        if chr=="a" or chr=="e" or chr=="i" or chr=="o" or chr=="u":
            r1+="1"
        else:
            r1+="0"
print("The result is:",r1)

Please enter any character: abcde
The result is:  10001

In [ ]:
#problem-04:Create a single Calculator Function with ADD, SUB, MUL, and DIV.

In [49]:
#without define function
a = float(input("Please enter the 1st value: "))
b = float(input("Please enter the 2nd value: "))
ADD = a+b
print("The addition is:",ADD)
SUB = a-b
print("The substraction is:",SUB)
MUL = a*b
print("The multiplication is:",MUL)
DIV = a/b
print("The division is:",DIV)

Please enter the 1st value: 6
Please enter the 2nd value: 2
The addition is: 8.0
The substraction is: 4.0
The multiplication is: 12.0
The division is: 3.0

In [52]:
#with define function
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
a = float(input("Please enter the 1st value: "))
b = float(input("Please enter the 2nd value: "))
print("The result is:",add(a,b))
print("The result is:",sub(a,b))
print("The result is:",mul(a,b))
print("The result is:",div(a,b))

Please enter the 1st value: 6
Please enter the 2nd value: 2
The result is: 8.0
The result is: 4.0
The result is: 12.0
The result is: 3.0

In [53]:
#problem-05:Repeat Input String. e.g Input: "XYZ" -> Output: "XYZXYZ".
str = input("Please enter characters: ")
print("The output is: ",str*2)

Please enter characters: XYZ
The output is:  XYZXYZ

In [58]:
#problem-06:Open a notebook and run this:
#- Use FILTER() to show an array/list of elements with "P" inside. Input: [ "ux1P5", "rt0", "ft3", "z1aP" ]-
#> Output: [ "ux1P5", "z1aP" ]
#- Use MAP() to add a "P" if "P" is not there. Input: [ "ux1P5", "rt0", "ft3", "z1aP" ] ->  Output: [ "ux1P5", "rt0P", "ft3P", "z1aP" ]
#- (Bonus) Use REDUCE() to get the sum of this list: [1, 2, 3, 4] -> [10]
def is_P(a):
    flag=0
    for i in a:
        if i=='P':
            flag=1
    if flag==1:
        return True
def is_not_p(a):
    flag = 0
    #print(a)
    for i in a:
        if i == 'P':
            flag = 1
    if flag == 0:
        a+='P'
    return a
        #return True

lst = ["ux1P5", "rt0", "ft3", "z1aP"]
## Filter
print("Output after Filterring--> ")
f = filter(is_P,lst)
print(list(f))
##Map
print("Output after Mapping--> ")
m = map(is_not_p,lst)
print(list(m))

##Reduce function
import functools
num = [1,2,3,4,5,6]
sum = functools.reduce(lambda a,b:a+b,num)
print("The Summation of list is-->",sum)

Output after Filterring-->
['ux1P5', 'z1aP']
Output after Mapping-->
['ux1P5', 'rt0P', 'ft3P', 'z1aP']
The Summation of list is--> 21

In [1]:
#problem-07:Read the wine.csv dataset as Pandas DataFrame and show (in another notebook):
#- head()
#- Show the entry of the 7th row, the last column.
#- Save the 1st 10 rows as a Pickle file.
import pandas as pd
wine = pd.read_csv('datasets/wine.csv')

In [2]:
wine.head(10)

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,8,SA0L1E,All items less food and energy,1,T,360
9,9,SA0L2,All items less shelter,1,T,361

In [3]:
wine.iloc[6,-1]

363

In [8]:
wine1 = wine.iloc[0:10]

In [9]:
wine1

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,8,SA0L1E,All items less food and energy,1,T,360
9,9,SA0L2,All items less shelter,1,T,361

In [11]:
wine1.to_pickle('datasets/wine_pickle.pkl')

In [12]:
wine2 =  pd.read_pickle('datasets/wine_pickle.pkl')
wine2

,Unnamed: 0,item_code,item_name,display_level,selectable,sort_sequence
0,0,AA0,All items - old base,0,T,2
1,1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,2,SA0,All items,0,T,1
3,3,SA0E,Energy,1,T,375
4,4,SA0L1,All items less food,1,T,359
5,5,SA0L12,All items less food and shelter,1,T,362
6,6,SA0L12E,"All items less food, shelter, and energy",1,T,363
7,7,SA0L12E4,"All items less food, shelter, energy, and used...",1,T,364
8,8,SA0L1E,All items less food and energy,1,T,360
9,9,SA0L2,All items less shelter,1,T,361